document {
    info {
        title "ROM Hacks Manifest" lang="en"
        description "A manifest that records the patches and ROM hacks that have been applied to a game." lang="en"
        author "armando.doval88@gmail.com"
    }
    node "romhacks-manifest" {
        min 1
        max 1
        prop "version" {
            required
            pattern r#"1\.0"#
        }
    }
    node "file" {
        min 1
        value id="filename-value" {
            min 1
            max 1
            pattern r#"[^\/:*?"<>|`]+"#
        }
        prop "crc32" id="crc32-prop" {
            required
            pattern "[0-9a-f]{8}"
        }
        prop "sha1" id="sha1-prop" {
            required
            pattern "[0-9a-f]{40}"
        }
        prop "sha256" id="sha256-prop" {
            required
            pattern "[0-9a-f]{64}"
        }
        children {
            node "patch" {
                min 1
                value ref=r#"[id="filename-value"]"#
                prop ref=r#"[id="crc32-prop"]"#
                prop ref=r#"[id="sha1-prop"]"#
                prop ref=r#"[id="sha256-prop"]"#
                children {
                    node "hack" {
                        min 1
                        max 1
                        prop "url" {
                            required
                            format "url"
                        }
                        prop "version" {
                            required
                            type "string"
                        }
                    }
                    node "result" {
                        min 1
                        max 1
                        prop ref=r#"[id="crc32-prop"]"#
                        prop ref=r#"[id="sha1-prop"]"#
                        prop ref=r#"[id="sha256-prop"]"#
                    }
                }
            }
        }
    }
}
